#root {
    height: 100vh;
    --user-bubble-color: rgb(24, 154, 223);
    --ai-bubble-color: rgb(238, 98, 59);
}

.chat-container {
    --padding: 1.5em;
    height: calc(100% - 2 * var(--padding));
    width: calc(100% - 2 * var(--padding));
    display: grid;
    grid-template-rows: 8fr 1fr;
    padding: var(--padding);

    .chat-messages {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .chat-bubble {
            width: 75%;
            background-color: var(--user-bubble-color);
            margin-bottom: 2%;
            padding: 0.5em;
            border-radius: 0.5em;
            position: relative;
            span {
                transition: filter 0.5s;
            }
            span.translated {
                font-weight: bold;
            }
            span.translated.new {
                animation: reveal 0.5s forwards;
            }
            @keyframes reveal {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        .chat-bubble.ai {
            background-color: var(--ai-bubble-color);
            align-self: end;
        }
        .chat-bubble.blurred span {
            filter: blur(3px);
        }
    }

    .input-container {
        width: 100%;
        form {
            display: flex;
            justify-content: space-around;
            width: 100%;
            input {
                width: 70%;
            }
        }
    }
}

.chat-window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .user-side, .ai-side {
        display: flex;
        flex-direction: column-reverse;
        --full-height: 8vh;
        --padding: 2vh;
        .chat-bubble {
            min-height: var(--full-height);
            width: 100%;
            background-color: var(--user-bubble-color);
            padding: var(--padding);
            border-radius: 1em;
        }
    }

    .user-side {
        .chat-bubble {
            .input-form {
                display: flex;
                button {
                    max-height: calc(var(--full-height));
                    max-width: calc(var(--full-height));
                    svg {
                        display: flex;
                        height: calc(var(--full-height) / 2);
                        width: calc(var(--full-height) / 2);
                        path {
                            stroke: white;
                        }
                    }
                }
                text-area {
                    min-height: calc(var(--full-height) - var(--padding));
                }
            }
        }
    }
}